.navigation {
        margin: 0 auto;

    &__list {
        list-style-type: none;
        display: flex;
        column-gap: 20px;
    }

    &__item {

        & a {
            display: inline-block;
            font-size: 16px;
            line-height: 13px;
            padding: 0 0 5px;
            border-bottom: transparent solid;

            &.active {
                border-bottom: 3px var(--mainOrange) solid;
            }
        }
    }
}

@media (min-width: 1348px) {
    .navigation {
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}