.aside-menu {
    width: 20%;
    min-width: 150px;
    max-width: 400px;
    background-color: var(--mainWhite);
    padding: 5px 15px 0 30px;
}

.menu {

    &__list {
        list-style-type: none;
    }

    &__item {

        & a {
            display: inline-block;
            font-size: 16px;
            line-height: 13px;
            padding: 8px;
            border: 3px transparent solid;
            transform: translateX(-5px);
            border-radius: 5px;
        }

        & a.active {
            border: 3px var(--mainOrange) solid;
        }
    }
}